<!DOCTYPE html>
<html>
    <head>
        <title> Expenses </title>
        
        <!-- Using Beauter.css library to create the UI -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <link rel="stylesheet" type="text/css" href="https://rawgit.com/outboxcraft/beauter/master/beauter.min.css"/>
    </head>

    <body>
        <!-- Header  -->
        <div class = "row">
            <div class = "col m12 _blue"><h1>Expenses</h1></div>
            <ul class="breadcrumb _shadow">
                <li><a href="#">Expenses List</a></li>
                <li><a href="#">Add New Expense</a></li>
                <li><a href="#">Search</a></li>
            </ul>
        </div>
    </body>
</html>